* {
    box-sizing: border-box;

}

html {
    margin: 2rem;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

#parentVote {
    width: 98%;

    margin: 1rem;
    padding: 2rem 2rem;

    text-align: center;
}

#childVoteButton {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;

    border: 1px solid black;
}

#parentResults {
    width: 98%;

    margin: 1rem;
    padding: 2rem 2rem;

    text-align: center;
}

#futurePieChart {
    height: 100px;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;

    border: 1px solid black;

}

#bottomNav {
    width: 98%;

    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;

}

#navButton {

    padding-left: 4rem;
    padding-right: 4rem;
    width: 25%;
    height: 110px;
    font-size: xx-large;
    color: black;
}

#postComment {
    padding: .75em;
    text-align: center;
}

footer {
    margin-bottom: 2rem;
    margin-top: auto;

}

.main {
    background-color: white;
    width: 100%;
}

.container-fluid {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#discussionBoard {
    flex: 5;
    text-align: center;
}

#sidebar {
    flex: 1;
    padding: 10px;
    text-align: center;
}

#indentedParagraph {
    padding: 1em;
    padding-left: 2em;
}


.demo-box {
    margin: 1rem;
    border: thin solid #dee2e6;
    border-radius: 1rem;
    padding: 1rem;
}

.card>img {
    height: 200px;
    background: gray;
}