* {
    box-sizing: border-box;
}

html {
    margin: 2rem;
}


.demo-box {
    margin: 1rem;
    border: thin solid #dee2e6;
    border-radius: 1rem;
    padding: 1rem;
}

.card>img {
    height: 200px;
    background: gray;
}